ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.header {
	background-image: url("https://i.ytimg.com/vi/WnRH93UBMzk/maxresdefault.jpg");
	background-repeat: no-repeat;
	height: 500px;
	background-position: center bottom;
}
.headertext {
	text-align: center;
	font-family: verdana;
	color: white;
	line-height: 675px;
	font-size: 48px;
	text-shadow: 4px 6px black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #aaaaaa;
}
.textfont {
	font-family: verdana;
}
